.navbar {
  position: sticky;
  top: 0;
  z-index: 10;

  .brand {
    display: flex; gap: 8px; align-items: center;
    cursor: pointer; text-decoration: none; color: inherit;
    span { font-weight: 600; letter-spacing: .2px; }
  }

  .spacer { flex: 1; }

  .links a[mat-button] {
    font-weight: 500;
  }
}
